<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

        <title>Home</title>
    </head>
    <body class="p-3 mb-2 bg-light text-black">
        <div class="container">
            <div id="logoutDiv">
        		<form action="#" th:action="@{/logout}" method="POST">
            		<button type="submit" id="loggingOut" class="btn btn-secondary float-right">Logout</button>
                </form>
            </div>
            <div id="contentDiv" style="clear: right;">
                <nav style="clear: right;">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-files-tab" data-toggle="tab" href="#nav-files" role="tab" aria-controls="nav-files" aria-selected="true">Files</a>
                        <a class="nav-item nav-link" id="nav-notes-tab" data-toggle="tab" href="#nav-notes" role="tab" aria-controls="nav-notes" aria-selected="false">Notes</a>
                        <a class="nav-item nav-link" id="nav-credentials-tab" data-toggle="tab" href="#nav-credentials" role="tab" aria-controls="nav-credentials" aria-selected="false">Credentials</a>
                        <a class="nav-item nav-link" id="nav-cars-tab" data-toggle="tab" href="#nav-cars" role="tab" aria-controls="nav-cars" aria-selected="false">Cars</a>
                        <a class="nav-item nav-link" id="nav-pets-tab" data-toggle="tab" href="#nav-pets" role="tab" aria-controls="nav-pets" aria-selected="false">Pets</a>
                        <a class="nav-item nav-link" id="nav-ecommerce-tab" data-toggle="tab" href="#nav-ecommerce" role="tab" aria-controls="nav-ecommerce" aria-selected="false">Ecommerce</a>
					</div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-files" role="tabpanel" aria-labelledby="nav-files-tab">
                		<form th:action="@{/file/upload}" action="#" enctype="multipart/form-data" method="POST">
                            <div class="container">
                                <div class="row" style="margin: 1em;">
                                    <div class="col-sm-2">
                                        <label for="fileUpload">Upload a New File:</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="file" class="form-control-file" id="fileUpload" name="fileUpload">
                                    </div>
                                    <div class="col-sm-4">
                                        <button id="fileSubmit"  type="submit" class="btn btn-dark">Upload</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="table-responsive">
                            <table class="table table-striped" id="fileTable">
                                <thead>
                                    <tr>
                                        <th style="width: 20%" scope="col"></th>
                                        <th style="width: 80%" scope="col">File Name</th>
                                    </tr>
                                </thead>
								<tbody th:each="fileName: ${filesList}">
                                <tr>
                                    <td>
                                		<a target="_blank" class="btn btn-success" th:href="@{/file/get-file/{fileName}(fileName=${fileName})}">View</a>
                                		<a class="btn btn-danger" th:href="@{/file/delete-file/{fileName}(fileName=${fileName})}">Delete</a>
                                    </td>
                                    <th th:text="${fileName}" scope="row">ExampleFile.txt</th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-notes" role="tabpanel" aria-labelledby="nav-notes-tab">
                        <button id="showNoteForm" style="margin: 0.25em;" type="button" class="btn btn-info float-right" onclick="showNoteModal()">
                            + Add a New Note
                        </button>

                        <div class="table-responsive">
                            <table class="table table-striped" id="userTable">
                                <thead>
                                    <tr>
                                        <th style="width: 20%" scope="col"></th>
                                        <th style="width: 20%" scope="col">Title</th>
                                        <th style="width: 80%" scope="col">Description</th>
                                    </tr>
                                </thead>
                                <tbody th:each="note: ${notes}">
                                    <tr>
                                        <td>
                                            <button type="button" class="btn btn-success" th:data-id="${note.noteId}" th:data-title="${note.noteTitle}"
													th:data-description="${note.noteDescription}" th:onclick="showNoteModal(this.getAttribute('data-id'),
														this.getAttribute('data-title'), this.getAttribute('data-description'))">
														Edit
														</button>
                                            <a class="btn btn-danger" th:href="@{/note/delete/{noteId}(noteId = ${note.noteId})}">Delete</a>
                                        </td>
                                        <th th:text="${note.noteTitle}" scope="row">Example Note Title</th>
                                        <td th:text="${note.noteDescription}">Example Note Description </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="noteModalLabel">Note</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form th:object="${newNote}" th:action="@{/note/addNote}" action="#" method="POST">
                                            <input th:field="*{noteId}" type="hidden" name="noteId" id="note-id">
                                            <div class="form-group">
                                                <label for="note-title" class="col-form-label">Title</label>
                                                <input th:field="*{noteTitle}" type="text" name="noteTitle" class="form-control" id="note-title" maxlength="20" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="note-description" class="col-form-label">Description</label>
                                                <textarea th:field="*{noteDescription}" name="noteDescription" id="note-description" rows="5" maxlength="1000" required></textarea>
                                            </div>
                                            <button id="noteSubmit" type="submit" class="d-none"></button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" onclick="$('#noteSubmit').click();">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-credentials" role="tabpanel" aria-labelledby="nav-credentials-tab">
                        <button id="showCredentialForm"  style="margin: 0.25em;" type="button" class="btn btn-info float-right" onclick="showCredentialModal()">
                            + Add a New Credential
                        </button>

                        <div class="table-responsive">
                            <table class="table table-striped" id="credentialTable">
                                <thead>
                                    <tr>
                                        <th style="width: 20%" scope="col"></th>
                                        <th style="width: 35%" scope="col">URL</th>
                                        <th style="width: 20%" scope="col">Username</th>
                                        <th style="width: 25%" scope="col">Password</th>
                                    </tr>
                                </thead>
                                <tbody th:each="credential : ${credentials}">
                                <tr>
                                    <td>
										<button type="button" class="btn btn-success" th:data-id="${credential.credentialId}"
                                        th:data-url="${credential.url}" th:data-username="${credential.username}"
                                        th:data-password="${encryptService.decryptValue(credential.password,credential.key)}"
                                        th:onclick="showCredentialModal(this.getAttribute('data-id'), 
                                        			this.getAttribute('data-url'),
                                                    this.getAttribute('data-username'),
                                                    this.getAttribute('data-password'))">Edit</button>
                                        <a class="btn btn-danger" th:href="@{/credential/delete/{credentialId}(credentialId=${credential.credentialId})}">Delete</a>
                                    </td>
                            			<th th:text="${credential.url}" scope="row">Example Credential URL</th>
                            			<td th:text="${credential.username}">Example Credential Username</td>
                            			<td th:text="${credential.password}">Example Credential Password</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="modal fade" id="credentialModal" tabindex="-1" role="dialog" aria-labelledby="credentialModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="credentialModalLabel">Credential</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form th:action="@{/credential/addCredential}" th:object="${newCredential}"  action="#" method="POST">
                                            <input th:field="*{credentialId}" type="hidden" name="credentialId" id="credential-id">
                                            <div class="form-group">
                                                <label for="note-title" class="col-form-label">URL</label>
                                            	<input th:field="*{url}" type="text" name= "url" class="form-control" id="credential-url" maxlength="100" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="note-title" class="col-form-label">Username</label>
                                                <input th:field="*{username}" type="text" name= "username" class="form-control" id="credential-username" maxlength="30" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="note-title" class="col-form-label">Password</label>
                                                <input th:field="*{password}" type="text" name= "password" class="form-control" id="credential-password" maxlength="30" required>
                                            </div>
                                            <button id="credentialSubmit" type="submit" class="d-none"></button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button id = "closeButton" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button id="credentialSave" type="button" class="btn btn-primary" onclick="$('#credentialSubmit').click();">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   <div class="tab-pane fade" id="nav-cars" role="tabpanel" aria-labelledby="nav-cars-tab">
						<div id="showCarsDiv">
							<form action="#" th:action="@{/car/getCars}" method="POST">
								<button id="showCarList" style="margin: 0.25em;" type="submit" class="btn btn-info float-left">
									+ List CarZ
								</button>
							</form>
						</div>


                        <button id="showCarForm" style="margin: 0.25em;" type="button" class="btn btn-info float-right" onclick="showCarModal()">
                            + Add a New Car
                        </button>

                        <div class="table-responsive">
                            <table class="table table-striped" id="userTable">
                                <thead>
                                    <tr>
                                        <th style="width: 20%" scope="col"></th>
                                        <th style="width: 20%" scope="col">Model</th>
                                        <th style="width: 80%" scope="col">Condition</th>
                                    </tr>
                                </thead>
                                <tbody th:each="car: ${cars}">
                                    <tr>
                                        <td>
                                            <button type="button" class="btn btn-success" th:data-id="${car.carId}" th:data-model="${car.carModel}"
													th:data-condition="${car.carCondition}" th:onclick="showCarModal(this.getAttribute('data-id'),
														this.getAttribute('data-model'), this.getAttribute('data-condition'))">
														Edit
														</button>
                                        <a class="btn btn-danger" th:href="@{/car/delete/{carId}(carId = ${car.get('carId')})}">Delete</a>
										</td>
										
                                        <th th:text="${car.get('carModel')}" scope="row">Example Car Model</th>
                                        <td th:text="${car.get('carCondition')}">Example Car Condition </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="modal fade" id="carModal" tabindex="-1" role="dialog" aria-labelledby="carModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="carModalLabel">Car</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form th:object="${newCar}" th:action="@{/car/addCar}" action="#" method="POST">
                                            <input th:field="*{carId}"  type="hidden" name="carId" id="car-id">
                                            <div class="form-group">
                                                <label for="car-model" class="col-form-label">Model</label>
                                                <textarea th:field="*{carModel}" name="carModel" class="form-control" id="car-model" maxlength="200" required></textarea>
                                            </div>
                                            <div class="form-group blu-margin">
                                                <label for="car-condition" class="col-form-label">Car Condition</label>
                                                <select class="form-control" th:field="*{carCondition}"  id="car-condition">
                                                    <option value="" selected disabled hidden>Select condition</option>
                                                    <option th:each="condition : ${conditions}" th:value="${condition}" th:text="${condition}"></option>
                                                </select>
                                            </div>
                                            <button id="carSubmit" type="submit" class="d-none"></button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" onclick="$('#carSubmit').click();">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   <div class="tab-pane fade" id="nav-pets" role="tabpanel" aria-labelledby="nav-pets-tab">
						<div id="showAllDiv">
							<button id="showOwnerForm" style="margin: 0.25em;" type="button" class="btn btn-info float-left" onclick="showOwnerModal()">
								+ Add a New Owner
							</button>
							<button id="showEmployeeForm" style="margin: 0.25em;" type="button" class="btn btn-info float-left" onclick="showEmployeeModal()">
								+ Add a New Employee
							</button>
							<button id="showPetForm" style="margin: 0.25em;" type="button" class="btn btn-info float-left" onclick="showPetModal()">
								+ Add a New Pet
							</button>
							<button id="showScheduleForm" style="margin: 0.25em;" type="button" class="btn btn-info float-left" onclick="showScheduleModal()">
								+ Create Schedule
							</button>
						</div>
                        <div class="table-responsive">
                            <table class="table table-striped" id="userTable">
                                <thead>
                                    <tr>
                                        <th style="width: 12%" scope="col"></th>
                                        <th style="width: 12%" scope="col">Type</th>
                                        <th style="width: 12%" scope="col">Name</th>
                                        <th style="width: 12%" scope="col">Owner</th>
                                        <th style="width: 12%" scope="col">Employee</th>
                                        <th style="width: 12%" scope="col">Date</th>
                                        <th style="width: 12%" scope="col">Activity</th>
										</tr>
                                </thead>
                                <tbody th:each="pet: ${pets}">
                                    <tr>									
                                        <td>									
                                            <button type="button" class="btn btn-success" th:data-id="${owners[0].ownerId}" th:data-name="${owners[0].ownerName}"
													th:data-phonenumber="${owners[0].ownerPhoneNumber}" th:onclick="showOwnerModal(this.getAttribute('data-id'),
														this.getAttribute('data-phonenumber'), this.getAttribute('data-name'))">
														Edit
											</button>
										</td>
                                        <th th:text="${pet.get('petType')}" scope="row">Example Pet Type</th>
                                        <td th:text="${pet.get('petName')}">Example Pet Name </td>
                                        <td th:text="${pet.petOwnerId}">Example Owner Name </td>
									</tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="modal fade" id="petModal" tabindex="-1" role="dialog" aria-labelledby="petModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="petModalLabel">Pet</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form th:object="${newPet}" th:action="@{/pet/addPet}" action="#" method="POST">
                                            <input type="hidden" name="petId" id="pet-id">
											<div class="form-group blu-margin">
												<label for="pet-type" class="col-form-label">Pet type</label>
												<select class="form-control" th:field="*{petType}"  id="pey-type">
												<option value="0" selected>Select type</option>
												<option th:each="petType : ${petTypes}" th:value="${petType}" th:text="${petType}"></option>
												</select>
											</div>
                                            <div class="form-group">
                                                <label for="pet-name" class="col-form-label">Name</label>
                                                <textarea th:field="*{petName}" name="petName" id="pet-name" rows="5" maxlength="1000" required></textarea>
                                            </div>
                                            <button id="petSubmit" type="submit" class="d-none"></button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" onclick="$('#petSubmit').click();">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="ownerModal" tabindex="-1" role="dialog" aria-labelledby="ownerModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="ownerModalLabel">Owner</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form th:object="${newOwner}" th:action="@{/pet/addOwner}" action="#" method="POST">
                                            <input type="hidden" name="ownerId" id="owner-id">
                                            <div class="form-group">
                                                <label for="owner-phonenumber" class="col-form-label">PhoneNumber</label>
                                               <input th:field="*{ownerPhoneNumber}" type="text" name="ownerPhoneNumber" class="form-control" id="owner-phonenumber" maxlength="200" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="owner-name" class="col-form-label">Name</label>
                                                <textarea th:field="*{ownerName}" name="ownerName" id="owner-name" rows="5" maxlength="1000" required></textarea>
                                            </div>
                                            <button id="ownerSubmit" type="submit" class="d-none"></button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" onclick="$('#ownerSubmit').click();">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="employeeModal" tabindex="-1" role="dialog" aria-labelledby="employeeModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="employeeModalLabel">Employee</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form th:object="${newEmployee}" th:action="@{/pet/addEmployee}" action="#" method="POST">
                                            <input type="hidden" name="employeeId" id="employee-id">
                                            <div class="form-group">
												<label for="employee-skills" class="col-form-label">Skills (multiple choice)</label>
												<select class="form-control" th:field="*{employeeSkills}" multiple="multiple">
													<option th:each="skill : ${skills}"
															th:value="${skill}"
															th:text="${skill}">Skill name</option>
												</select>
											</div>
                                            <div class="form-group">
                                                <label for="employee-name" class="col-form-label">Name</label>
                                                <input th:field="*{employeeName}" type="text"  name="employeeName" class="form-control" id="employee-name"  maxlength="40" required>
                                            </div>
                                            <button id="employeeSubmit" type="submit" class="d-none"></button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" onclick="$('#employeeSubmit').click();">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
                   <div class="tab-pane fade" id="nav-ecommerce" role="tabpanel" aria-labelledby="nav-ecommerce-tab">
						<div id="showEcommercesDiv">
							<button id="showEcommerceUserForm" style="margin: 0.25em;" type="button" class="btn btn-info float-left" onclick="showEcommerceUserModal()">
								+ Add a user
							</button>
							<button id="showEcommerceLoginForm" style="margin: 0.25em;" type="button" class="btn btn-info float-left" onclick="showEcommerceLoginModal()">
								+ Login a user
							</button>
							<button id="showEcommerceItemForm" style="margin: 0.25em;" type="button" class="btn btn-info float-left" onclick="showEcommerceItemModal()">
								+ Create an item
							</button>
							<button id="showEcommerceOrderForm" style="margin: 0.25em;" type="button" class="btn btn-info float-left" onclick="showEcommerceOrderModal()">
								+ Add order to cart
							</button>
							<form action="#" th:action="@{/ecommerce/submitOrder}" method="POST">
								<button id="submitOrder" style="margin: 0.25em;" type="submit" class="btn btn-info float-left">
									+ Submit order
								</button>
							</form>
						</div>
                        <div class="modal fade" id="ecommerceUserModal" tabindex="-1" role="dialog" aria-labelledby="ecommerceUserModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="ecommerceUserModalLabel">Add new user and log it in</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form th:object="${newEcommerceUser}" th:action="@{/ecommerce/addUser}" action="#" method="POST">
                                            <div class="form-group">
                                                <label for="ecommerce-username" class="col-form-label">User</label>
                                            	<input th:field="*{ecommerceUsername}" type="text" name= "ecommerceUsername" class="form-control" id="ecommerce-username" maxlength="20" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="ecommerce-password" class="col-form-label">Password</label>
                                                <input th:field="*{ecommercePassword}" type="text" name= "ecommercePassword" class="form-control" id="ecommerce-password" maxlength="20" required>
                                            </div>
											<button id="ecommerceSubmit" type="submit" class="d-none"></button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" onclick="$('#ecommerceSubmit').click();">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="ecommerceOrderModal" tabindex="-1" role="dialog" aria-labelledby="ecommerceOrderModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="ecommerceOrderModalLabel">Define order</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form th:object="${newEcommerceOrder}" th:action="@{/ecommerce/addToOrder}" action="#" method="POST">
                                            <div class="form-group">
                                                <label for="ecommerce-orderUsername" class="col-form-label">Username</label>
                                            	<input th:field="*{ecommerceOrderUsername}" type="text" name= "ecommerceOrderUsername" class="form-control" id="ecommerce-orderUsername" maxlength="20" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="ecommerce-orderItemId" class="col-form-label">Itemid</label>
                                                <input th:field="*{ecommerceItemId}" type="text" name= "ecommerceItemId" class="form-control" id="ecommerce-orderItemId" maxlength="20" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="ecommerce-orderQuantity" class="col-form-label">Quantity</label>
                                                <input th:field="*{ecommerceQuantity}" type="text" name= "ecommerceQuantity" class="form-control" id="ecommerce-orderQuantity" maxlength="20" required>
                                            </div>
											<button id="ecommerceOrderSubmit" type="submit" class="d-none"></button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" onclick="$('#ecommerceOrderSubmit').click();">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>

					</div>
				</div>
            </div>
        </div>

        <script th:src="@{/js/jquery-slim.min.js}"></script>
        <script th:src="@{/js/popper.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>

        <!--For opening the note modal-->
        <script type="text/javascript">
            // For opening the note modal
            function showNoteModal(noteId, noteTitle, noteDescription) {
                $('#note-id').val(noteId ? noteId : '');
                $('#note-title').val(noteTitle ? noteTitle : '');
                $('#note-description').val(noteDescription ? noteDescription : '');
                $('#noteModal').modal('show');
            }

            // For opening the credentials modal
            function showCredentialModal(credentialId, url, username, password) {
                $('#credential-id').val(credentialId ? credentialId : '');
                $('#credential-url').val(url ? url : '');
                $('#credential-username').val(username ? username : '');
                $('#credential-password').val(password ? password : '');
                $('#credentialModal').modal('show');
            }
            // For opening the car modal
            function showCarModal(carId, carModel, carCondition) {
                $('#car-id').val(carId ? carId : '');
                $('#car-model').val(carModel ? carModel : '');
                $('#car-condition').val(carCondition ? carCondition : '');
                $('#carModal').modal('show');
            }
            // For opening the pet modal
            function showPetModal(petId, petType, petName) {
                $('#pet-id').val(petId ? petId : '');
                $('#pet-type').val(petType ? petType : '');
                $('#pet-name').val(petName ? petName : '');
                $('#petModal').modal('show');
            }
            // For opening the owner modal
            function showOwnerModal(ownerId, ownerPhoneNumber, ownerName) {
                $('#owner-id').val(ownerId ? ownerId : '');
                $('#owner-phonenumber').val(ownerPhoneNumber ? ownerPhoneNumber : '');
                $('#owner-name').val(ownerName ? ownerName : '');
                $('#ownerModal').modal('show');
            }
            // For opening the employee modal
            function showEmployeeModal(employeeId, employeeSkills, employeeName) {
                $('#employee-id').val(employeeId ? employeeId : '');
                $('#employee-skills').val(employeeSkills ? employeeSkills : '');
                $('#employee-name').val(employeeName ? employeeName : '');
                $('#employeeModal').modal('show');
            }
            // For opening the ecommerce user modal
            function showEcommerceUserModal(ecommerceId, ecommerceUsername, ecommercePassword) {
                $('#ecommerce-id').val(ecommerceId ? ecommerceId : '');
                $('#ecommerce-username').val(ecommerceUsername ? ecommerceUsername : '');
                $('#ecommerce-password').val(ecommercePassword ? ecommercePassword : '');
                $('#ecommerceUserModal').modal('show');
            }
            // For opening the ecommerce order modal
            function showEcommerceOrderModal(ecommerceOrderId, ecommerceOrderUsername, ecommerceItemId, ecommerceQuantity) {
                $('#ecommerce-orderid').val(ecommerceOrderId ? ecommerceOrderId : '');
                $('#ecommerce-orderUsername').val(ecommerceOrderUsername ? ecommerceOrderUsername : '');
                $('#ecommerce-orderItemId').val(ecommerceItemId ? ecommerceItemId : '');
                $('#ecommerce-orderQuantity').val(ecommerceQuantity ? ecommerceQuantity : '');
                $('#ecommerceOrderModal').modal('show');
            }
			</script>
    </body>
</html>