@tailwind base;
@tailwind components;
@tailwind utilities;


.centered {
  margin-left: auto;
  margin-right: auto;
}

.loading {
  text-align: center;
  padding: 20px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.section {
  flex: 1 1 100%;
  max-width: 600px;
  height: auto;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
}


.section h1 {
  margin-top: 0;
}

input[type="text"], input[type="number"], input[type="phone"], select, input[type="submit"], input[type="password"], button {
  width: 300px;
  padding: 8px;
  margin: 10px 0;
  box-sizing: border-box;
}

.menuButton {
  width: 100px;
  border: 2px solid #4CAF50;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 20px;
}

.styleButton {
  width: 10px;
  border: 2px solid #4CAF50;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 20px;
}

.submitbutton {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.ml-update-button {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  width: 150px;
}

.clearbutton {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
